<ul class="nav nav-tabs col-xs-12 col-md-8">
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/">All</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Development">Dev</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Design">Design</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Support">Tech</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Business">Business</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Communications">Comms</a></li>
</ul>

