<div class="visible-xs-inline-block dropdown col-xs-2 col-xs-offset-2">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="catMenu" data-toggle="dropdown" aria-expanded="true">
    Categories
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="catMenu">
	  <li><a href="/jobs/<%=currentlocation%>/">All</a></li>
	  <li><a href="/jobs/<%=currentlocation%>/Development">Dev</a></li>
	  <li><a href="/jobs/<%=currentlocation%>/Design">Design</a></li>
	  <li><a href="/jobs/<%=currentlocation%>/Support">Support</a></li>
	  <li><a href="/jobs/<%=currentlocation%>/Business">Business</a></li>
	  <li><a href="/jobs/<%=currentlocation%>/Communications">Comms</a></li>
  </ul>
</div>


<div class="hidden-xs col-sm-8">
<ul class="nav nav-tabs">
  <li id="all"><a href="/jobs/<%=currentlocation%>/">All</a></li>
  <li id="dev"><a href="/jobs/<%=currentlocation%>/Development">Dev</a></li>
  <li id="design"><a href="/jobs/<%=currentlocation%>/Design">Design</a></li>
  <li id="tech"><a href="/jobs/<%=currentlocation%>/Support">Support</a></li>
  <li id="business"><a href="/jobs/<%=currentlocation%>/Business">Business</a></li>
  <li id="comms"><a href="/jobs/<%=currentlocation%>/Communications">Comms</a></li>
</ul>
</div>
