<button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#contact-modal">Don't have the full picture? Ask them a question and we'll publish their response here</button>
    </div>

<div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content noshadow">
         <div class="modal-header"><h4 class="modal-title">Find out more about working at <%- data[0].company%></h4></div>
        <form action="/contact/<%- data[0].location%>/<%- data[0].id%>/<%- data[0].title.replace(/[&\/\\#,+()$~%. '":*?<>{}]/g,'-')%>/<%- data[0].company.replace(/[&\/\\#,+()$~%. '":*?<>{}]/g,'-')%>" method="post">
        <div class="modal-body">
                <div class="form-group">
                        <label for="question">What would you like to know?</label>
                        <textarea required rows="3" class="form-control" id="question" name="question" placeholder="Please can you tell me more about"></textarea>
                </div>
                <div class="form-group">
                        <label for="email">Let us alert you when they reply?<span class="subdued">(optional)</span></label>
                        <a data-toggle="tooltip" data-placement="right" title="Give us your email address and we'll let you know when the company responds. No-one else will know it's you. ">Hey! I thought this was anonymous!</a>
                        <input type="email" class="form-control" id="email" name="email" placeholder="You@YourReallyCoolDomain.com">
			<p>We hate spam so we promise we'll never spam you. </a>
                </div>
        <div class="g-recaptcha" data-sitekey="6Ldj0QITAAAAAFHydr_T6uSRvLFr6hVeCzoBMufi"></div>
        </div>
         <div class="modal-footer">
                <button type="submit" id="submit-contact" class="btn btn-primary">Submit</a>
         </div>
        </form>
    </div>
  </div>
</div>



<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$( document ).ready(function() {
        var href=window.location.href.split("?");
        var status=href[1];
        if (status==='ok'){
                $( "#submit-successful" ).slideDown(1000);
        }else{
                $( "#submit-successful" ).hide();
        }
});
</script>


