
<div class="">
<!--TODO: add class="active" to active li in city view-->

<ul class="nav nav-pills nav-stacked col-md-2">
  <li role="presentation"><a href="/jobs/Sheffield">Sheffield</a></li>
  <li role="presentation"><a href="/jobs/Manchester">Manchester</a></li>
  <li role="presentation"><a href="/jobs/Liverpool">Liverpool</a></li>
  <li role="presentation"><a href="/jobs/Leeds">Leeds</a></li>
  <li role="presentation"><a href="/jobs/Chester">Chester</a></li>
  <li role="presentation"><a href="/jobs/Preston">Preston</a></li>
  <li role="presentation"><a href="/jobs/Lancaster">Lancaster</a></li>
  <li role="presentation"><a href="/jobs/Warrington">Warrington</a></li>
</ul>

<ul class="nav nav-tabs col-md-2 ">
  <li role="presentation"><a href="/jobs/<%=currentlocation[0]%>/Development">Development</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation[0]%>/Design">Design</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation[0]%>/Business">Business</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation[0]%>/Support">Tech Support</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation[0]%>/Communications">Communications</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation[0]%>/Other">Other areas</a></li>
</ul>

</div>

</div> <!--close nvabar div-->
