<!--TODO: add class="active" to active li in city view-->
<br>
<div class="col-lg-3">
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar">
			<a class="navbar-brand">Cities</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cities-nav">
                <span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
            </button>
        </div>

        <div id="cities-nav" class="collapse navbar-collapse">
            <ul class="nav nav-pills nav-stacked">


                <% /* EXPERIMENTAL

  var nav
                        for(var i = {Manchester, Sheffield, Liverpool, Leeds};i < data.length;i++) {
			if data[i] === location %>

<a href="/jobs/<%=location%>/<%=data[i].id%>/<%=title%>-at-<%=company%>" class="list-group-item active">
                    <%=data[i].title%>
                    at <%=data[i].company%>
                </a>
                        <%}%>

		<% else %>

<a href="/jobs/<%=location%>/<%=data[i].id%>/<%=title%>-at-<%=company%>" class="list-group-item">
                    <%=data[i].title%>
                    at <%=data[i].company%>
                        <%} */ %>



				<li id="Manchester" role="presentation"><a href="/jobs/Manchester">Manchester</a></li>
				<li id="Sheffield" role="presentation"><a href="/jobs/Sheffield">Sheffield</a></li>
				<li id="Liverpool" role="presentation"><a href="/jobs/Liverpool">Liverpool</a></li>
				<li id="Leeds" role="presentation"><a href="/jobs/Leeds">Leeds</a></li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </nav>

</div><!--/end left column-->
<script>
	// dynamically activate list items when clicked
	$( document ).ready(function() {
		var href=window.location.href;
		var city=href.slice(24);
	  	$(".nav").find(".active").removeClass("active");
	   	if (city==="Manchester"){
			$("#Manchester").addClass("active");
		}else if(city==="Sheffield"){
			$("#Sheffield").addClass("active");
		}else if(city==="Leeds"){
			$("#Leeds").addClass("active");
		}else if(city==="Liverpool"){
			$("#Liverpool").addClass("active");
		}
	});

</script>



