<div class="visible-xs-inline-block dropdown col-xs-2">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="citiesMenu" data-toggle="dropdown" aria-expanded="true">
    Cities
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="citiesMenu">
	<li><a href="/jobs/Manchester">Manchester</a></li>
	<li><a href="/jobs/Sheffield">Sheffield</a></li>
	<li><a href="/jobs/Liverpool">Liverpool</a></li>
	<li><a href="/jobs/Leeds">Leeds</a></li>
  </ul>
</div>
<div class="hidden-xs col-sm-2">
   <div class="well cities-nav">
	<ul class="nav nav-pills nav-stacked">
                <% /* EXPERIMENTAL 

		var navarray = {"Sheffield", "Manchester", "Liverpool", Leeds"};
                        for(var navarray ;i < navarray.length;i++) {
			if (navarray[i] === location){ %>

                                <li id="<%=navarray[i]=%>" role="presentation" class="active"><a href="/jobs/<%=navarray[i]=%>"><%=navarray[i]=%></a></li>

		<%} else{ %>

                                <li id="<%=navarray[i]=%>" role="presentation" ><a href="/jobs/<%=navarray[i]=%>"><%=navarray[i]=%></a></li>

                <%};}  */%>

	<li id="Manchester"><a href="/jobs/Manchester">Manchester</a></li>
	<li id="Sheffield"><a href="/jobs/Sheffield">Sheffield</a></li>
	<li id="Liverpool"><a href="/jobs/Liverpool">Liverpool</a></li>
	<li id="Leeds"><a href="/jobs/Leeds">Leeds</a></li>
</ul>
</div>
</div>
