<nav class="navbar navbar-default" role="navigation">
	<div class="navbar">
		<a class="navbar-brand">Cities</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cities-nav">
                <span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
            </button>
        </div>

        <div id="cities-nav" class="collapse navbar-collapse">
            <ul class="nav nav-pills nav-stacked">


                <% /* EXPERIMENTAL */

		var navarray = ["Sheffield", "Manchester", "Liverpool", Leeds"];
                        for(var navarray ;i < navarray.length;i++) {
			if (navarray[i] === location){ %>

                                <li id="<%=navarray[i]=%>" role="presentation" class="active"><a href="/jobs/<%=navarray[i]=%>"><%=navarray[i]=%></a></li>

		<%} else{ %>

                                <li id="<%=navarray[i]=%>" role="presentation" ><a href="/jobs/<%=navarray[i]=%>"><%=navarray[i]=%></a></li>

                <%}  %>
<!--
				<li id="Manchester" role="presentation"><a href="/jobs/Manchester">Manchester</a></li>
				<li id="Sheffield" role="presentation"><a href="/jobs/Sheffield">Sheffield</a></li>
				<li id="Liverpool" role="presentation"><a href="/jobs/Liverpool">Liverpool</a></li>
				<li id="Leeds" role="presentation"><a href="/jobs/Leeds">Leeds</a></li>-->
        			<br>
	    </ul>


        </div><!-- /.navbar-collapse -->
    </nav>

