
<div class="nav">
<!--TODO: add class="active" to active li in city view-->

<ul class="nav-pills nav-stacked col-md-2">
  <li role="presentation"><a href="/jobs/Sheffield">Sheffield</a></li>
  <li role="presentation"><a href="/jobs/Manchester">Manchester</a></li>
  <li role="presentation"><a href="/jobs/Liverpool">Liverpool</a></li>
  <li role="presentation"><a href="/jobs/Leeds">Leeds</a></li>
  <li role="presentation"><a href="/jobs/Chester">Chester</a></li>
  <li role="presentation"><a href="/jobs/Preston">Preston</a></li>
  <li role="presentation"><a href="/jobs/Lancaster">Lancaster</a></li>
  <li role="presentation"><a href="/jobs/Warrington">Warrington</a></li>
</ul>

<ul class="nav-tabs col-xs-12 col-md-8 nav-justified">
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Development">Development</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Design">Design</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Business">Business</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Support">Tech Support</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Communications">Communications</a></li>
  <li role="presentation"><a href="/jobs/<%=currentlocation%>/Other">Other areas</a></li>
</ul>

</div>

