<%- include layouts/header.ejs %>
<%- include layouts/nav.ejs %>


                <%  var title
                        for(var i = 0;i < data.length;i++) {
                        title=data[i].title.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,'-');
                        company=data[i].company
                        location=data[i].location
                        title=title.replace(/\s+/g, '-');
                        location=location.replace(/\s+/g, '-');
                        company=company.replace(/\s+/g, '-');
                         %>

<div class="list-group col-xs-12 col-md-8">
        <%- include layouts/sponsored.ejs %>
<a href="/jobs/<%=location%>/<%=data[i].id%>/<%=title%>-at-<%=company%>" class="list-group-item">   
                    <%=data[i].title%>
                    at <%=data[i].company%>
                </a>

/* close presentation logic */
<%}%>

</div>

<%- include layouts/footer.ejs %>
