<%- include layouts/header.ejs %>
                <hr> 

<div class="list-group">
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>

<a href="view/<%=data[i].id%>" class="list-group-item">   
                    <% if(data[i].hours==1){  %>                         
                         Full Time
                    <% }else{ %>
                        Part Time
                    <% } %>
                    <%=data[i].title%>
                    at <%=data[i].company%>
                    in <%=data[i].location%>
                </a>



            <% } %>
              <% }else{ %>
                 <p>No user</p>
            <% } %>

                </div>

<%- include layouts/footer.ejs %>
