<%- include layouts/header.ejs %>
                <div class="container-narrow">
                <hr> 

                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <p>
                    <% if(data[i].hours==1){  %>                         
                         Full Time
                    <% }else{ %>
                        Part Time
                    <% } %>
                    <a href="jobboard/view/<%=data[i].id%>"><%=data[i].title%></a>
                    at <%=data[i].company%>
                    in <%=data[i].location%>
                </p>
                <hr></hr>
            <% }
            
             }else{ %>
                 <p>No user</p>
            <% } %>

            </div>
                
                              
                
        
<%- include layouts/footer.ejs %>
