<%- include layouts/header.ejs %>



<div class="list-group">
                <%  var title
                 	for(var i = 0;i < data.length;i++) { 
                        title=data[i].title
                        title=title.replace(/\s+/g, '-');
			 %>
<a href="jobs/<%=data[i].location%>/<%=data[i].id%>/<%=title%>-at-<%=data[i].company%>" class="list-group-item">   
                    <%=data[i].title%>
                    at <%=data[i].company%>
                    in <%=data[i].location%>
                </a>
			<%}%>

</div>

<%- include layouts/footer.ejs %>
