<%- include layouts/header.ejs %>
<br>
<div class="col-md-3">
        <%- include layouts/nav.ejs %>
        <br>
        <%- include layouts/links.ejs %>
</div>

<%- include layouts/category.ejs %>

<div class="list-group col-xs-12 col-md-8">
        <a href="https://www.bytemark.co.uk/company/employment/" class="list-group-item list-group-item-success">Sponsored link: Bytemark Hosting are hiring in Manchester</a>

<p class="list-group-item">I'm sorry. There are no jobs in this category yet. </p>
</div>

<%- include layouts/footer.ejs %>
