<%- include layouts/header.ejs %>

<h1>Unsent questions</h1>
<br>
<table class="table">
  <tr>
	<th>questionID</th>
	<th>job</th>
	<th>company</th>
	<th>email</th>
	<th>question</th>
  </tr>
        <%
            for(var i = 0;i < data.length;i++) { %>
		<tr>
			<td><%=data[i].questionID%></td>
			<td><a href="/view/<%=data[i].jobID%>"><%=data[i].jobID%></a></td>
			<td><%=data[i].company%></td>
			<td><%=data[i].email%></td>
			<td><%=data[i].question%></td>
       		</tr>
	<%}%>
</table>

<%- include layouts/footer.ejs %>

