<%- include layouts/header.ejs %>
<div class="col-sm-12">

<h1>Unsent questions</h1>
<br>

<table class="table table-striped">
<thead>
  <tr>
	<th>job</th>
	<th>company</th>
	<th>question</th>
  </tr>
</thead>
<tbody>
        <%
            for(var i = 0;i < data.length;i++) { 
		if(data[i].sent===0){%>
		<tr>
			<td><a href="/view/<%=data[i].jobID%>"><%=data[i].jobID%></a></td>
			<td><%=data[i].company%></td>
			<td><%=data[i].question%></td>
       		</tr>
		<%}
	}%>
</tbody>
</table>

<h1>Sent questions</h1>
<br>
<table class="table table-striped">
  <tr>
        <th>job</th>
        <th>company</th>
        <th>question</th>
	<th>answer</th>
  </tr>
        <%
            for(var i = 0;i < data.length;i++) { 
                if(data[i].sent===1){%>
                <tr>
                        <td><a href="/view/<%=data[i].jobID%>"><%=data[i].jobID%></a></td>
                        <td><%=data[i].company%></td>
                        <td><%=data[i].question%></td>
                        <td><%
			if(data[i].answer){%>
				<%=data[i].answer%>
			<%}else{%>
			<form class="form-inline text-right">
			<div class="form-group">
				<input class="form-control" type="text" disabled placeholder="input doesn't work yet">
				<button class="btn btn-default" type="submit" disabled>Submit</button>
			</div>
			</form>
			<%}%>
			</td>
                </tr>
                <%}
        }%>
</table>
</div>
<%- include layouts/footer.ejs %>
