<%- include layouts/header.ejs %>

<h1>Companies open to speculative applications</h1>
<br>
<div class="panel panel-default">
<div class="panel-heading">Lancaster</div>
<div class="list-group">
        <%
            for(var i = 0;i < data.length;i++) {
                if(data[i].locationID===5){  %>
                        <a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Leeds</div>
<div class="list-group">
        <%
            for(var i = 0;i < data.length;i++) {
                if(data[i].locationID===4){  %>
                        <a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>

</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Liverpool</div>
<div class="list-group">
        <%
            for(var i = 0;i < data.length;i++) {
                if(data[i].locationID===3){  %>
                        <a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>

</div>
</div>


<div class="panel panel-default">
<div class="panel-heading">Manchester</div>
<div class="list-group">
	<%  
            for(var i = 0;i < data.length;i++) {
       		if(data[i].locationID===1){  %>
			<a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>

</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Sheffield</div>
<div class="list-group">
        <%
            for(var i = 0;i < data.length;i++) {
                if(data[i].locationID===2){  %>
                        <a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>

</div>
</div>

Tweet us <a href="https://twitter.com/pieline">@pieline</a> to get your company added to this list.

<%- include layouts/footer.ejs %>

