<%- include layouts/header.ejs %>

<div class="col-xs-12 col-sm-10 col-sm-offset-1">

<h1>Companies open to speculative applications</h1>

<h2 class="h3">Lancaster</h2>
<div class="list-group">
        <%
            for(var i = 0;i < data.length;i++) {
                if(data[i].locationID===5){  %>
                        <a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>
</div>

<h2 class="h3">Leeds</h2>
<div class="list-group">
        <%
            for(var i = 0;i < data.length;i++) {
                if(data[i].locationID===4){  %>
                        <a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>

</div>

<h2 class="h3">Liverpool</h2>
<div class="list-group">
        <%
            for(var i = 0;i < data.length;i++) {
                if(data[i].locationID===3){  %>
                        <a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>

</div>


<h2 class="h3">Manchester</h2>
<div class="list-group">
	<%  
            for(var i = 0;i < data.length;i++) {
       		if(data[i].locationID===1){  %>
			<a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>

</div>

<h2 class="h3">Sheffield</h2>
<div class="list-group">
        <%
            for(var i = 0;i < data.length;i++) {
                if(data[i].locationID===2){  %>
                        <a href="<%=data[i].homepage%>" class="list-group-item"><%=data[i].company_name%></a>
            <% } %>

       <%}%>

</div>

<p class="text-right">Tweet us <a id="tweet-spec" href="https://twitter.com/intent/tweet?screen_name=pieline">@pieline</a> to get your company added to this list.</p>
</div>
<%- include layouts/footer.ejs %>

