<%- include layouts/header.ejs %>
<div class ="col-md-12">
<h1>Jobs appearing in the future</h1>
<br>
<table class="table">
  <tr>
        <th>posted</th>
        <th>company</th>
	<th>title</th>
	<th>location</th>
        <th>id</th>
  </tr>
        <%
            for(var i = 0;i < data.length;i++) { %>
                <tr>
                        <td><%=data[i].dateposted.toString("dd MMM")%></td>
                        <td><%=data[i].company%></td>
                        <td><a href="<%=data[i].url%>"><%=data[i].title%></td>
			<td><%=data[i].location%></td>
                        <td><a href="/view/<%=data[i].id%>"><%=data[i].id%></a></td>
                </tr>
        <%}%>
</table>
</div>
<%- include layouts/footer.ejs %>

