<%- include layouts/header.ejs %>

        <div class="view-job">
            <h1 class="job-title"><%=data[0].title%> job at <a href="<%=data[0].url%>"><%=data[0].company%></a></h1>
            <p>This is a<strong>
            <% if(data[0].hours==1){  %>                         
                 Contract
            <% }else{ %>
                Full Time
            <% } %></strong>
             position in  <a href="/jobs/<%=data[0].location%>"><strong><%=data[0].location%></strong></a>.</p>

            <% if(data[0].contact_recruiters==1){  %>                          
                <p class="bg-success">Recruiters <strong>may</strong> contact this poster.</p>
            <% }else{ %>
                <p class="bg-warning"><strong>Recruiters:</strong> please <strong>do not contact</strong> this poster.</p>
            <% } %>
            
            <h3>Are you who they're looking for?</h3>
            <p> <%- data[0].description%></p>
            <p><a class="btn btn-default" href="<%=data[0].url%>">Read more about the job on <%=data[0].company%>'s website</a></p>

            <hr>

    		<h3> Sound like your thing? Here's how you get in touch:</h3>
            <p> <%-data[0].contact_details%></p>
            <% if(data[0].contact_mention==1){  %>                          
                    <p class="bg-info"><strong>Do feel free to mention</strong> Pieline.net when applying</p>
                <% } %>

	<br>

<button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#contact-modal">Questions? Contact this company anonymously</button>
    
    </div>
        
<%- include layouts/footer.ejs %>

<div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content noshadow">
         <div class="modal-header"><h4 class="modal-title">Ask a question anonymously</h4></div>
	<form action="/contact/<%- data[0].company.replace(/[&\/\\#,+()$~%.'" :*?<>{}]/g,'-')%>/<%- data[0].id%>" method="post">
	<div class="modal-body">
 		<div class="form-group">
    			<label for="question">Question:</label>
    			<textarea required rows="3" class="form-control" id="question" name="question" placeholder="Enter your question"></textarea>
  		</div>
  		<div class="form-group">
    			<label for="email">Email <span class="subdued">(optional)</span></label>
			<a data-toggle="tooltip" data-placement="right" title="If you want, you can give us your email address so we can let you know when your question has been answered. No-one else will be able to see this.">Hey! I thought this was anonymous!</a>
    			<input type="email" class="form-control" id="email" name="email" placeholder="Email address">
 		</div>
	<div class="g-recaptcha" data-sitekey="6Ldj0QITAAAAAFHydr_T6uSRvLFr6hVeCzoBMufi"></div>
	</div>
         <div class="modal-footer">
                <button type="submit" id="submit-contact" class="btn btn-primary">Submit</a>
         </div>
	</form>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
