<%- include layouts/header.ejs %>
<main>
	<div class="col-md-12">
        <ol class="breadcrumb">
	        <li><a href="/">Home</a></li>
                <li><a href="/jobs/<%=data[0].location%>"><%=data[0].location%></a></li>
                <li><a href="/jobs/<%=data[0].location%>/<%=data[0].category%>"><%=data[0].category%></a></li>
                <li class="active"><%=data[0].title%> at <%=data[0].company%></li>
        </ol>
	</div>
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	<div hidden id="submit-successful" class="alert alert-success">
        	<a href="#" class="close" data-dismiss="alert">&times;</a>
        	<p>Your question was submitted successfully</p>
	</div>
	    <h1 class="job-title"><%=data[0].title%> job at <a onclick="trackGoal(21) href="<%=data[0].url%>"><%=data[0].company%></a></h1>
        <br>    
	<p>This is a<strong>
            <% if(data[0].hours==1){  %>                         
                 Contract
            <% }else{ %>
                Full Time
            <% } %></strong>
             position in  <strong><%=data[0].location%></strong>.</p>
            <h2 class="h3">Are you who they're looking for?</h2>
            <p> <%- data[0].description%></p>
            <a id="jobs-ext" class="btn btn-default" href="<%=data[0].url%>" onclick="trackGoal(21)"><strong>See more</strong> on their website</a>
	<br><br>
        <hr>
	<div class="text-right col-xs-12 col-sm-8 col-sm-offset-4">
	     <%- include layouts/jobquestion.ejs %>
	</div>
	<div class="col-xs-12 col-sm-12">
	    <br><hr>
	    <h2 class="h3"> Sound like your thing? Here's how you get in touch:</h2>
            <p> <%-data[0].contact_details%></p>
            <% if(data[0].contact_mention==1){  %>                          
                    <p class="bg-info"><strong>Do feel free to mention</strong> Pieline.net when applying</p>
                <% } %>
            <% if(data[0].contact_recruiters==1){  %>                          
                <p class="bg-success">Recruiters <strong>may</strong> contact this poster.</p>
            <% }else{ %>
                <p class="bg-warning"><strong>Recruiters:</strong> please <strong>do not contact</strong> this poster.</p>
            <% } %>
	<br>
	</div>
	</div>
</main>
<%- include layouts/footer.ejs %>
